
body{
    background-image: linear-gradient(rgb(0,0,0,0.4),rgb(0,0,0,0.5)),url(1.jfif);
    background-repeat: no-repeat;
    background-size: cover;
   
}
.date{
    width: 117px;
}
h1{
    text-align: center;
}

.txt{
    padding: 4px;
    margin: 5px;
}
select{
    padding: 3px;
}

.gender{
    border: 1px solid black;
    background-color: rgb(245, 242, 238);
    width: 140px;
    height: 7px;
    margin-top: 10px;
    padding: 10px;
    clear: both;
}
.genderfemale{
    border: 1px solid black;
    background-color: rgb(245, 242, 238);
    width: 140px;
    height: 7px;
    margin-top: 10px;
    padding: 10px;
    clear: both;
    position: absolute;
    top: 196px;
    left: 300px;
}
.signup_form{
    background-color: rgba(69, 152, 230, 0.568);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    height: 300px;
    padding-left: 100px;
    padding-top: 30px;
}
.sign{
    margin-top: 15px;
    margin-left: 130px;
    background-color: green;
    width: 70px;
    height: 40px;
}